<!doctype html>
<html>
   <!-- <a href = "/loginpage">Logout</a> -->
   <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
   <ul class="navbar-nav absolute-right">
        <li class="nav-item">
          <i>Logged in as Teacher</i>
        </li>
        <li class="nav-item">
          <a href="/loginpage" class="nav-link">Logout</a>
        </li>
        
      </ul>
   </div>
   <body>
      <table border = 1 style="width:100%" <caption> <b>List of Courses </b></caption> 
         <thead>
            <td> <b>ID Teacher </b> </td>
            <td> <b>Code Module </b> </td>
            <td> <b>Code Presentation </b> </td>
            <td> <b>Subject Name </b> </td>
            <td> <b>Course Commencement Date </b> </td>
            
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>	
               <td>{{row[4]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      
   </body>
</html>